.card-body{
    background-image: url(https://images.unsplash.com/photo-1520356996640-d3b614727887?q=80&w=1517&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position-x: center;
    background-position-y: 469px;
    min-height: 20vw;
}

.card-text{
    color: hsla(0, 0%, 100%, 0.575);
}