section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    margin: 8px;
    border-radius: 15px  !important;
}

.card:hover{
    -webkit-transform: scale(1);
    transform: scale(1.08);
    transition-duration: 0.25s;
}

.card-img{
    min-height: 250px;
    object-fit: cover;
    border-radius: 5px !important;
}

.card-img:hover{
    filter: opacity(0.8);
}

.btn.btn-secondary{
    background-color: orange;
    color: black;
    border: none;
}

.btn.btn-secondary:hover{
    background-color: orange;
    color: white;
    scale: 1.1;
}

/* @media (min-width: 955px){
    .card-group {
        flex-direction: column;
        }
    } */