section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cardItem{
    margin: 8px;
    border-radius: 8px !important;
    box-shadow: rgba(0, 0, 0, 0.2) 5px 22px 50px 10px;
    border: none !important;
    scale: 0.95;
    margin-bottom: -20px;
}

.cardItem:hover{
    -webkit-transform: scale(1);
    transform: scale(1.1);
    box-shadow: rgb(0, 0, 0) 0px 18px 50px -10px;
    z-index: 1;
    transition-duration: 0.7s;
}

.card-img{
    min-height: 250px;
    object-fit: cover;
    border-radius: 8px 8px 0 0 !important;
}

.btn.btn-secondary{
    padding         : 0.6rem;
    transition      : 0.5s;
    cursor          : pointer;
    border          : none;
    border-radius   : 14px 0 14px 0;
    font-style      : italic;
    background-color: #faa935 !important;
    color: black;
    }

.btn.btn-secondary:hover{
    background-color: #faa935;
    color: white;
    scale: 1.1;
}

/* @media (min-width: 955px){
    .card-group {
        flex-direction: column;
        }
    } */